<section class="w-100">
    <div class="row g-0 bg-celeste">
        <div class="col-12 text-end p-2">
            <a href="#" role="btn" class="me-3" (click)="modalService.open()">CONTACTO</a>
        </div>
        <div class="col-12">
            <img ngSrc="assets/img/mobile/header-mobile-new.webp" width="350" height="354" title="" class="img-fluid mx-auto d-block">
        </div>
        <div class="p-3 my-4">
            <h1 class="white">CONECTA CON<br/>TU CUERPO</h1>
            <h4 class="white">conociendo y expandiendo tu fuerza y flexibilidad</h4>
            <button class="btn-amarillo mt-4" (click)="modalService.open()">Quiero saber más</button>
        </div>
    </div>
</section>
