<section class="container">
    <div class="row g-0 justify-content-center pt-md-5 pt-5">
        <div class="col-md-12 pt-md-4 ps-md-4 pt-4">
            <h3 class="morado text-center">
                Pilares de conciencia y<br class="d-none d-sm-none d-md-block"/> flexibilidad corporal
            </h3>
            <picture>
                <source media="(max-width:764px)" srcset="assets/img/mobile/foto-pilares-mobile.webp">
                <img ngSrc="assets/img/acrocamara2-401.webp" width="1440" height="680" class="img-fluid mt-4"/>
            </picture>
        </div>
    </div>
</section>   
