<!--<router-outlet></router-outlet>-->
<div class="d-none d-sm-none d-md-block">
    <app-header></app-header>
</div>
<div class="d-block d-sm-block d-md-none">
    <app-header-mobile></app-header-mobile>
</div>
<app-texto-y-columnas></app-texto-y-columnas>
<app-texto-fondo-gris></app-texto-fondo-gris>
<app-foto-y-texto></app-foto-y-texto>
<app-tres-columnas></app-tres-columnas>
<app-testimonios></app-testimonios>
<app-formatealone></app-formatealone>
<app-metodo></app-metodo>
<app-quienes-somos></app-quienes-somos>
<app-footer></app-footer>
<!--<app-modal></app-modal>-->