<section class="container mb-5">
    <div class="row g-0 justify-content-start pt-md-5 pt-5">
        <div class="col-md-6 pt-md-4 ps-md-4">
            <h3 class="morado">
                Método
            </h3>
            <div class="borde-amarillo-abajo"></div>
        </div>
    </div>
    <div class="row g-0 justify-content-start pt-md-5">
        <div class="col-md-4 pt-md-4 ps-md-4 pt-5">
            <h4 class="claro">
                ¿Qué es y para qué sirve?
            </h4>
            <p class="gris">
                Conciencia y Flexibilidad Corporal ® (CFC) es un método que toma recursos de varias disciplinas del movimiento y el autoconocimiento. Fue creado para acompañar a las personas en el desarrollo del registro propioceptivo, la flexibilidad, la fuerza y la consciencia.
                <br/><br/>
                El mismo contribuye al incremento de las capacidades en los términos antes mencionados, además de prevenir y acompañar a los cuerpos en sus procesos (véase  prevención de riesgos lesivos, recuperación, reeducación postural, mejoramiento de las habilidades 
                deportivas, etc.)
            </p>
        </div>
        <div class="col-md-4 pt-md-4 ps-md-4 pt-5">
            <h4 class="claro">
                ¿Cuándo y por qué se creó?
            </h4>
            <p class="gris">
                El mismo surge en el año 2016 luego de que Milagros Somma recibe un diagnóstico fatalista respecto a continuar con la práctica de movimiento. Ella, apasionada por la flexibilidad, decide comenzar una investigación corporal consciente. A lo que no solo obtiene mejoras en su condición física, sino que también alcanza objetivos que se suponía serían imposibles para la condición de 
                su columna.
                <br/><br/>
                Años más tarde, recibe a Albana Hernandez como practicante, quien también había pasado por un proceso similar, y deciden unir experiencias para compartir el método de enseñanza juntas.
            </p>
        </div>
        <div class="col-md-4 pt-md-4 ps-md-4 pt-5">
            <h4 class="claro">
                La trayectoria de la experiencia
            </h4>
            <p class="gris">
                Como investigadoras y practicantes, a lo largo de los años en nuestra experiencia fuimos estudiando varias disciplinas, y tomamos recursos de cada una de ellas. Cabe mencionar algunas a continuación: Metodología de Feldenkrais, Yoga, Flexibilidad y Contorsión, Barra á terre, ADM, entrenamiento de fuerza inteligente, Movement Culture, Handstand, Bioneuroemoción, etc.
            </p>
        </div>
    </div>
</section>
