<section class="container aire px-3 px-md-0 mt-4 mt-md-0">
    <div class="row g-0 justify-content-start">
        <div class="col-md-6 pt-md-4 ps-md-4">
            <h3 class="morado">
                El momento para vivir tu experiencia corporal consciente, es ahora.
            </h3>
            <div class="borde-amarillo-abajo"></div>
        </div>
    </div>
    <div class="row g-0 justify-content-start pt-md-5 pt-5">
        <div class="col-md-6 pt-md-4 ps-md-4 pt-4">
            <h4 class="claro">
                Conciencia y Flexibilidad Corporal ®<br/>como estilo de vida.
            </h4>
            <p class="gris">
                En CFC la propuesta es reconocer las posibilidades que tiene tu cuerpo y expandirlas, integrando los aspectos mentales y emocionales de aquello que se mueve cuando nos movemos.
            </p>
        </div>
        <div class="col-md-6 pt-md-4 ps-md-4 pt-4">
            <h4 class="claro">
                La aceptación incondicional de tu posibilidad actual te abre las puertas a desarrollar tus capacidades.
            </h4>
            <p class="gris">
                Aspiramos a trabajar de forma consciente para poder habitar los diferentes lugares que propone el método. Cada ejercicio tiene su progresión adaptable al nivel en el  que estás.
            </p>
        </div>
    </div>
</section>
