<header class="container mt-10  position-relative">
    <picture>
        <source media="(max-width:764px)" srcset="assets/img/mobile/foto-banner-mobile.webp">
        <img src="assets/img/fondo-banner.webp" width="1350" height="650" title="cfc" class="img-fluid" >
    </picture>
    <div class="ubicacion">
        <h1 class="white">Conoce y expande tu fuerza y flexibilidad</h1>
        <h4 class="white h4-solo">formate como instructor/a</h4>
        <button class="btn-amarillo mt-4 pointer" (click)="modalService.open()">Comenzar</button>
    </div>
</header>
