<div class="container-fluid redondel">
    <section class="container aire">
        <div class="row g-0 justify-content-start">
            <div class="col-md-6 pt-md-4 ps-md-4">
                <h3 class="morado">
                    ¿A <span class="amarillo">quién </span><br/>está dirigida<br/>la práctica?
                </h3>
            </div>
        </div>
        <div class="row g-0 justify-content-start pt-md-5">
            <div class="col-md-4 pt-md-4 ps-md-4">
                <img ngSrc="assets/img/quien/acrocamara2-271.png" width="424" height="397" class="img-fluid mb-md-4 mb-2"/>
                <h4 class="claro">
                    personas con tendencias a patologías posturales
                </h4>
                <p class="gris">
                    Con mucha conciencia apelamos a la reeducación postural a través de los trabajos de fuerza y flexibilidad.
                </p>
                <div class="d-block d-sm-block d-md-none fw-bold"><p class="morado pointer" (click)="modalService.open()">Más info</p></div>
            </div>
            <div class="col-md-4 pt-md-4 ps-md-4">
                <img ngSrc="assets/img/quien/acrocamara2-661.png" width="424" height="397" class="img-fluid mb-4"/>
                <h4 class="claro">
                    Principiantes, Intermedios<br/>y avanzados
                </h4>
                <p class="gris">
                    Si el objetivo es desarrollar las capacidades físicas y la autoconciencia, en CFC acompañamos los procesos sin importar cuál sea el punto de partida. Potenciamos la práctica de quienes investiguen el movimiento, brindándoles herramientas para mejorar y ampliar sus recursos.
                </p>
                <div class="d-block d-sm-block d-md-none fw-bold"><p class="morado pointer" (click)="modalService.open()">Más info</p></div>
            </div>
            <div class="col-md-4 pt-md-4 ps-md-4">
                <img ngSrc="assets/img/quien/acrocamara2-151.png" width="424" height="397" class="img-fluid mb-4"/>
                <h4 class="claro">
                    Personas interesadas en conocerse a través de la experiencia corporal
                </h4>
                <p class="gris">
                    El método propone un espacio de aprendizaje y escucha que se transmite a muchas áreas de nuestras vidas. El cuerpo es nuestro vehículo, es necesario conocerlo y cuidarlo.
                </p>
                <div class="d-block d-sm-block d-md-none fw-bold"><p class="morado pointer" (click)="modalService.open()">Más info</p></div>
            </div>
        </div>
        <div class="d-none d-sm-none d-md-block">
            <div class="row g-0 justify-content-start">
                <div class="col-md-4 pt-md-4 ps-md-4"><p class="morado fw-bold pointer" (click)="modalService.open()">Más info</p></div>
                <div class="col-md-4 pt-md-4 ps-md-4"><p class="morado fw-bold pointer" (click)="modalService.open()">Más info</p></div>
                <div class="col-md-4 pt-md-4 ps-md-4"><p class="morado fw-bold pointer" (click)="modalService.open()">Más info</p></div>
            </div> 
        </div>
    </section> 
</div>   
