<div class="container-fluid bg-celeste">
    <div class="container">
        <div class="bg-header">
            <div class="row g-0 justify-content-between align-items-center">
                <div class="col-2 pt-3">
                    <img src="assets/img/logo.png" width="197" height="90" class="img-fluid"/>
                </div>
                <div class="col-2 mt-2 text-end">
                    <a href="#" role="btn" class="btn-trans bebas" (click)="modalService.open()">CONTACTO</a>
                </div>
            </div>
            <div class="ubicacion">
                <h1 class="white">CONECTA CON<br/>TU CUERPO</h1>
                <h4 class="white">conociendo y expandiendo tu fuerza y flexibilidad</h4>
                <button class="btn-amarillo mt-4" (click)="modalService.open()">Quiero saber más</button>
            </div>
        </div>
    </div>
</div>
